---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Presentation from "../components/Presentation.astro";
import Options from "../components/Options.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Hack Your CV">
  <Header showTitle={false} />
  <main>
    <Presentation />
    <Options />
  </main>
  <Footer />
</Layout>
