<header class="flex justify-between items-center">
  <div class="flex justify-center items-center space-x-1">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-file-pencil"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M14 3v4a1 1 0 0 0 1 1h4"></path><path
        d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
      ></path><path d="M10 18l5 -5a1.414 1.414 0 0 0 -2 -2l-5 5v2h2z"
      ></path></svg
    >
    <h1 class="text-xl font-bold">Hack Your CV</h1>
  </div>

  <ul class="flex space-x-2">
    <li>
      <a
        class="p-2 rounded-md hover:border hover:bg-gray-800 hover:cursor-pointer"
        href="/">Inicio</a
      >
    </li>
    <li>
      <a
        class="p-2 rounded-md hover:border hover:bg-gray-800 hover:cursor-pointer"
        href="/cv-generator">Generar un CV</a
      >
    </li>
    <li>
      <a
        class="p-2 rounded-md hover:border hover:bg-gray-800 hover:cursor-pointer"
        href="/interview-trainer">Entrenador de entrevistas</a
      >
    </li>
  </ul>
</header>
