<section class="mt-12 flex justify-between items-center">
  <div>
    <span class="p-2 bg-slate-200 text-black rounded-full font-bold text-sm">
      ¿Quieres ayuda para encontrar trabajo?
    </span>
    <h1 class="mt-5 text-5xl font-bold">⚡️ Hack Your CV</h1>
    <p class="mt-4">
      <span class="text-yellow-500 font-bold">Crea tu currículum</span> perfecto
      y
      <span class="text-yellow-500 font-bold">prepárate para entrevistas</span> gracias
      a la <span class="text-yellow-500 font-bold">IA</span>.
    </p>
    <p class="mt-2">
      Genera CVs personalizados y recibe entrenamiento interactivo para
      entrevistas, todo en un solo lugar.
    </p>
  </div>
  <div>
    <img
      src="/assets/images/principal-image.webp"
      alt="Hero"
      class="rounded-xl float-end"
      width="600"
    />
  </div>
</section>
